<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./Assets/css/style.css" type="text/css" media="All">
</head>

<body>
    <!-- <h1>Welcome to the best website Ever</h1>
    <p>You won't find a website better anywhere else! <a href="http://localhost:808/profile/SOLO/">click here</a></p> -->
    
        <div class="link-section">
            <a href="/login">click me to go to login page</a>
        </div>
</body>

</html>
